.buttonLink {
  display: flex;
  width: 192px;
  height: 48px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1.2px solid var(--Gray-200, #D3D8DC);
  background: var(--Interface-Essential-White, #FFF);

  &__container {
    display: flex;
    gap: 16px;
  }
  &__text {
    color: var(--Gray-900);
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42;
  }
}