.button {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 8px;
  background: var(--Blue);
  color: var(--White, #FFF);
  text-align: center;
  padding: 13px;
  margin-bottom: 20px;

  font-size: 16px;

  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    background: var(--Blue-hover);
  }

  &__outline {
    background: transparent;
    border: 1.2px solid var(--Gray-200);
    color: var(--Gray-900);
    letter-spacing: -0.038px;

    &:hover {
      background: var(--Gray-200);
    }
  }
}