.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__inputs-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__input {
    position: relative;
    width: 100%;
    display: flex;
    gap: 25px;
    flex-direction: column;

    &--error-message {
      position: absolute;
      font-size: 10px;
      color: var(--Error);
      bottom: -13px;
    }
  }

  &__input-field {
    display: flex;
    flex-direction: column;
    width: 100%;

    box-sizing: border-box;
    padding: 0;
    margin: 0;

    height: 48px;
    padding: 0px 12px;
    align-items: center;
    gap: 6px;

    border-radius: 6px;
    border: 1.2px solid var(--Gray-200);
    background: var(--White);

    &::placeholder {
      color: var(--Gray-400);

      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    &:focus {
      outline: none;
    }
  }

  &__label {
    display: flex;
    color: #060E1E;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.036px;
  }

  &__password-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;

    &--btn {
      position: absolute;
      top: 55%;
      right: 15px;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      padding: 0;
      width: 20px;
      height: 20px;
      color: var(--Gray-eye);
      background-size: cover;
    }

    &--btn:focus {
      outline: none;
    }
  }

  &__createPass {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__forgot-link {
    color: var(--Blue);
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin-top: 15px;

    &:hover {
      text-decoration: none;
      color: var(--Blue-hover);
    }
  }

  &__info {
    color: var(--Gray-900);
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    letter-spacing: 0.2px;

    &--link {
      color: var(--Blue);
      font-weight: 500;

      text-decoration: none;
      transition: all 0.2s ease-in;

      &:hover {
        color: var(--Blue-hover);
      }
    }
  }
}