@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');


#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;

  --Gray-200: #D3D8DC;
  --White: #FFF;
  --Gray-400: #A1ABB5;
  --Gray-eye: #67717B;
  --Error: #a32020;
  --Blue: #316FEA;
  --Blue-hover: #265ac1;
  --Gray-900: #060E1E;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 80px auto auto;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  gap: 80px;
}

@import "./styles/button.scss";
@import "./styles/form.scss";
@import "./styles/title.scss";
@import "./styles/buttonLink.scss";
@import "./styles/logo.scss";
